.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.suggestions {
  list-style: none;
  margin: 0;
  padding: 0;
  border-top: 1px solid #d4d4d4;
  background-color: #f7f7f7;
  border-radius: 0 0 10px 10px;
}

.suggestions li {
  list-style: none;
  padding: 10px;
  cursor: pointer;
}

.autocomplete li:hover {
  background-color: #d4d4d4;
}

.container {
  max-width: 960px;
  margin-top: 40px;
}

.autocomplete {
  width: 500px;
  border: 1px solid #d4d4d4;
  border-radius: 10px;
}

.autocomplete input {
  width: 100%;
  border: none;
  margin: 10px 0;
  font-size: 16px;
  padding: 10px 10px 0 10px;
}

.dark {
  @apply bg-slate-800 text-cyan-300
  /* background-color: #121212; */

}

/* .light {
  @apply bg-zinc-50 text-gray-800
} */